.App {
  text-align: center;
}

.stopwatch{
  color:whitesmoke;
  width: 800px;
margin: 30px auto;
text-align: center;
display: grid;
border: solid black;
}
body{
background-color: salmon;
font-family: Arial, Helvetica, sans-serif;
height: 100%;
}

button:hover{
  color: darkblue;
  margin: auto;
  padding: 18px 10px;
  background-color:white;
  width: 200px;
  font-size: large;
  cursor: pointer;
}
#start{
  width: 200px;
  height: 100px;
  font-size: 30px;
}
#stop{
  width: 200px;
  height: 100px;
  font-size: 30px;
}
#reset{
  width: 200px;
  height: 100px;
  font-size: 30px;
}